shared-view {
#cart-show {
    position: relative;
}
#cart-show > span {
    color: #fff;
    font-weight: 400;
    font-size: 16px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}
    .button-cntrsa {
        width: 100%;
        padding: 0 2em;
        }
        .middle-top {
        // position: absolute;
        // width: 80%;
        position: static;
        width: 100%;
        }
        #menus-show{
         margin-top: 4px;
        }
        
        .swiper-pagination-bullet {
        width: 20px;
        height: 20px;
        }
        .swiper-pagination {
        text-align: right;
        }
        .swiper-pagination-bullet.swiper-pagination-bullet-active {
        background: #777777;
        }
        .swiper-pagination-bullet {
        border-radius: 100%;
        display: inline-block;
        width: 20px;
        height: 20px;
        background: transparent;
        opacity: 1;
        border: 3px solid #777 !important;
        }
        .swiper-pagination-fraction, .swiper-pagination-custom, .swiper-container-horizontal > .swiper-pagination-bullets {
        left: 0;
        bottom: 20px;
        width: 100%;
        padding-right: 20px;
        }
        .fields label {
        color: #d4d4d4;
        font-weight: 100;
        font-size: 15px;
        letter-spacing: 1px;
        text-transform: capitalize;
        display: block;
        text-align: right;
        margin: 5px 0 0 0;
        }
        .main-content {
        padding: 15px 10px 0 10px;
        width: 100%;
        float: left;
        }
        .main-container {
        position: static;
        // width: 100%;
        // height: 100%;
        }
        .main-slider {position: absolute;
        width: 100%;
        height: 100%;}
        .main-content {
        position:static;
        // top: 0;
        // z-index: 3;
        // width: 100%;
        }
        .m-t-20{
        margin-top: 20px !important;
        }
        .menu-icon {list-style: none;padding: 0;margin: 0; float: left;
        width: 100%;}
        .menu-icon li {
        display: block;
        margin: 0 0 10px 0;
        }
        .menu-icon li a {display: block;padding: 9px 7px 7px 7px;}
        .menu-icon li a:hover img {opacity: .7;}
        .navigation-section{position: static;
        //left: 22px;
        }
        #search-show {
        margin-top: -2px;
        }
        .mini-logo{position: absolute;right: 22px;}
        .mini-logo img {max-width: 70px;}
        .slide-zoom{height: 100%;}
        .swiper-slide img {width: 100%;height: 100%;}
        .left-container{ background: rgba(0, 0, 0, 0.9);
        width: 300px;
        position: fixed;
        z-index: 99999;
        height: 100%;
        left: 0;
        top: 0;
        -webkit-transform: translate(-600px, 0);
        -ms-transform: translate(-600px, 0);
        -o-transform: translate(-600px, 0);
        transform: translate(-600px, 0);
        -webkit-transition: -webkit-transform .3s ease-in-out,width .3s ease-in-out;
        -moz-transition: -moz-transform .3s ease-in-out,width .3s ease-in-out;
        -o-transition: -o-transform .3s ease-in-out,width .3s ease-in-out;
        transition: transform .3s ease-in-out,width .3s ease-in-out;
        }
        .show-left {
        -webkit-transform: translate(0px, 0);
        -ms-transform: translate(0px, 0);
        -o-transform: translate(0px, 0);
        transform: translate(0px, 0);
        }
        .field-cntr h2{font-weight: 400;
        color: #d19400;
        text-align: center;
        font-size: 22px;
        margin-bottom: 30px;
        text-transform: capitalize;
        } 
        .field-cntr-2 {
        padding: 0 0;
        position: absolute;
        height: 100%;
        width: 100%;
        }
        .field-cntr-2 h2 {
        padding: 0 1em;
        color: #b27e38 !important;
        }
        .field-cntr{padding: 0 2em;position: absolute;height: 100%;width: 100%;overflow-y: scroll;}
        .middle-as {top: 50%;position: relative;transform: translate(0, -75%)}
        .fields input[type="text"], input[type="password"] {
        line-height: 32px;
        border: none;
        background: transparent;
        text-align: left;
        width: 100%;
        text-transform: lowercase;
        font-size: 14px;
        font-weight:100;
        letter-spacing: 1px;
        color: #d4d4d4;
        border-bottom: 1px solid #b27e38;
        }
        
        .fields input[type="button"] {
        width: 100%;
        border: none;
        background: #b27e38;
        letter-spacing: 1px;
        color: #000;
        font-size: 18px;
        padding: 8px 0;
        font-weight: 400;
        border-radius: 6px;
        text-transform: capitalize;
        }
        .m-t-25 {
        margin-top: 25px !important;
        }
        .m-t-30 {
        margin-top: 30px !important;
        }
        .fields {
        margin: 0 0 2px 0;
        }
        .half-as {
        float: left;
        width: 50%;
        }
        .pad-left {
        padding: 0px 0px 0 10px;
        }
        .pad-right {
        padding: 0px 10px 0 0px;
        }
        .close-serach{
        position: absolute;
        right: 0px;
        font-size: 20px;
        text-decoration: none;
        color: #b27e38;
        top: 0px;
        z-index: 9999;
        padding: 15px;
        }
        .close-as{
            position: absolute;
            left: 0px;
            font-size: 20px;
            text-decoration: none;
            color: #b27e38;
            top: 0px;
            z-index: 9999;
            padding: 10px 10px;
            }
        
        ::-webkit-input-placeholder { /* WebKit, Blink, Edge */
        color: #fff;
        font-weight: 200;
        }
        :-moz-placeholder { /* Mozilla Firefox 4 to 18 */
        color: #fff;
        opacity: 1;
        font-weight: 200;
        }
        ::-moz-placeholder { /* Mozilla Firefox 19+ */
        color: #fff;
        opacity: 1;
        font-weight: 200;
        }
        :-ms-input-placeholder { /* Internet Explorer 10-11 */
        color: #fff;
        font-weight: 200;
        }
        .bot-section {
        position: static;
        bottom: 5%;
        -webkit-transform: translate(-50%, -50%);
        transform: translate(0%, 115px);
        left: 50%;
        width: 100%;
        margin-bottom: 50px;
        // position: absolute;
        // bottom: 5%;
        // transform: translate(-50%, -50%);
        // left: 50%;
        // width: 100%;
        }
        .bot-section p{
        font-size: 14px;
        letter-spacing: 1px;
        color: #fff;
        text-align: center;
        font-weight: 200;
        margin: 0 0 4px 0;
        padding: 0 0;
        line-height: normal;
        }
        .bot-section p a{
        color: #d19400;
        text-decoration: none;
        }
        
        .forgot a{
        font-weight: 300;
        color: #fff;
        text-align: center;
        letter-spacing: 1px;
        margin: -13px 0 0 0;
        padding: 0 0 0 0;
        line-height: normal;
        text-decoration: none;
        display: block;
        width: 100%;
        
        }
        .golden-color {
        color: #d19400 !important;
        } 
        .button-cntr {
        margin-top: -200px;
        width: 100%;
        padding: 0 22px;
        }
        
        .bot-section .social {
        padding: 0;
        margin: 0 auto 35px auto;
        width: 100px;
        
        }
        .bot-section .social li {
        display: inline-block;
        }
        .bot-section .social li:nth-child(2) {
        margin-left: 12px;
        }
        .bot-section .social li:nth-child(1) {
        margin-right: 12px;
        }
        .last-sync{
        width: 100%;
        color: #fff;
        font-weight: 100;
        letter-spacing: 1px;
        text-align: center;
        display: block;
        margin: 5px 0 0 0;
        }
        .menu-icon li a img {
            max-width: 28px;
            max-width: 28px;
        }
        .main-cat{
        width: 100%;
        height: 100%;
        top: 0;
        left: 0;
        position: fixed;
        z-index: 999;
        }
        .catalog ul {
        padding: 0;
        margin: 0px 0 0 0;
        }
        .catalog ul li {
        list-style: none;
        display: block;
        list-style: none;
        margin: 0 0 12px 0;
        }
        .catalog ul li a {
            font-size: 14px;
            padding: 10px 15px;
            text-decoration: none;
            text-transform: uppercase;
            color: #b27e38;
            display: block;
            line-height: 18px;
        }
        .catalog ul li a:hover {
        background-color: #b27e38;
        color: #000;
        font-weight: 400;
        }
        .field-cntr-2 {
        color: #d19400;
        text-transform: uppercase; 
        }
        .catalog ul ul {
        position: absolute;
        width: 300px;
        left: 300px;
        margin-top: 0px;
        // background: rgba(0,0,0,0.26);
        display: none;
        min-height: 100%;
        border-left: 0px solid #b27e38;
        top: 0;
        }
        .catalog ul li:hover ul {
        display:block !important;
        }
        .catalog ul li ul {
        padding: 20px 0 0 0;
        }
        /* search css */
        .search-area{
        position: fixed;
        z-index: 9;
        width: 100%;
        height: 100%;
        background: #ffffff;
        display: none;
        top: 0;
        transition: all 0.9s ease;
        -webkit-transition: all 0.9s ease;
        -ms-transition: all 0.9s ease;
        -o-transition: all 0.9s ease;
        }
        ion-header {
        background: none !important;
        width: 60px;
        height: 100%;
        
        }
        // .header-ios {
        //     top: 23px !important;
        // }
        .breadcrums {
        padding: 0;
        margin: 0;
        list-style: none;
        display: inline-block;
        position: absolute;
        top: 23px;
        left: 20px;
        }
        .breadcrums li {
        display: inline-block;
        margin: 0 0 0 0;
        padding: 0 0 0 0;
        }
        .breadcrums li a {
        font-size: 14px;
        font-weight: 400;
        padding: 0 0;
        margin: 0;
        color: #000000;
        text-decoration: none;
        }
        .menu-scroll {
        overflow-y: scroll;
        height: 100%;
        }
        .fields p{
            color: #d19400;
            text-transform: capitalize;
            padding: 0;
            margin: 0 0 7px 0;
        }
        .header-md:before .header-md:after {
            background-image: none !important;
        }
        .breadcrums li span{
        color: #d19400;
        font-weight: 600;
        display: inline-block;
        vertical-align: middle;
        margin: 0 0 1px 3px;
        }
        .srh-list {
        max-height: 100vh;
        overflow-y: scroll;
        }
        .search-tools {
        // position: absolute;
        // width: 438px;
        // margin-left: -219px;
        // left: 50%;
        // top: 26%;
        position: absolute;
        width: 438px;
        margin-left: unset;
        left: 50%;
        top: 50%;
        transform: translate(-50%, -50%);
        }
        /*28-06-2018*/
        .search-tools .searchbar-ios .searchbar-input {
        padding: 0 28px;
        border-radius: 0px;
        height: 3rem;
        font-size: 1.4rem;
        font-weight: 400;
        color: #000;
        background-color: #fff;
        border-bottom: 1px solid #d19400;
        }
        .search-tools .searchbar-ios {
        padding: 0 8px;
        min-height: 44px;
        border-top: 0.55px solid transparent;
        border-bottom: 0.55px solid rgba(0, 0, 0, 0.05);
        background: #fff;
        }
        .bot-lgout{
        position: absolute;
        bottom: 15px;
        left: 15px;
        }
        .bot-lgout img {
        width: 32px;
        }
        #addtocart {
        position: absolute;
        }
        #addtocart span {
        position: absolute;
        left: 16px;
        font-size: 20px;
        font-weight: 500;
        top: 9px;
        color: #000;
        }
       
        /*28-06-2018 ../ */
        .search-tools input[type="text"] {
        line-height: 32px;
        border: none;
        background: transparent;
        text-align: left;
        width: 100%;
        text-transform: lowercase;
        font-size: 18px;
        font-weight: 100;
        letter-spacing: 1px;
        color: #777;
        border-bottom: 1px solid #b27e38;
        margin: 0 0 10px 0;
        }
        .search-tools label{
        width: 100%;
        display: block;
        text-align: center;
        font-weight: 300;
        color: rgba(114, 114, 114,1);
        font-size: 14px;
        }
        .search-tools input[type="button"] {
        width: 160px;
        border: none;
        background: #b27e38;
        letter-spacing: unset;
        color: #000;
        font-size: 18px;
        padding: 5px 0;
        font-weight: 400;
        border-radius: 6px;
        clear: both;
        margin: 15px auto 8px auto;
        display: block;
        }
        .search-tools .search-error {
        width: 100%;
        display: block;
        text-align: center;
        font-weight: 400;
        color: #333;
        font-size: 16px;
        }
        .search-invisible {
        display: none;
        }
        .search-visible {
        display: block !important;
        }
        /*11-06-2018*/
        ul#maincat ul {
        max-height: 100%;
        min-height: 100%;
        overflow-y: scroll;
        background: rgba(0,0,0,.9);
        padding-top: 14em;
        }
        // shared-view {
        // position: absolute;
        // z-index: 1;
        // height: 100%;
        // width: 100%;
        // }
       
        .spinner-container {
        width: 100%;
        text-align: center;
        padding: 10px;
        }
        .content.content-md {
        z-index: -1;
        position: absolute;
        }
        shared-view .content-md {
        background-color: transparent;
        }
        ul#maincat{
        height: 55% !important;
        overflow: scroll;
        }
        .onreg .field-cntr {
        padding: 0 0em !important;
        }
        .header-md::after {
        background-image: none !important;
        display: none !important;
        }
        /* 26-06-2018 */
        .list-md .item-block .item-inner {
        border-bottom: none
        }
        .srh-list ion-item {
        color: #d19400;
        background-color: #fff;
        }
        .searchbar-md .searchbar-input {
        box-shadow: none;
        border-bottom: 1px solid #d19400;
        padding: 6px 15px;
        }
        .searchbar-search-icon {
        display: none;
        }
        /* 26-06-2018 ../ */
        /*04-07-2018*/
        .field-cntr-2 .menu-logo{
            max-width: 100%;
            display: block;
            margin-left: 0;
            margin: 0 auto;
            float: none;
        }
       @media (max-width: 640px) {
        .search-area .search-tools input[type="button"] {
        margin: 10px auto 8px auto;
        }
        .scroll-content .listing {
        padding-left: 9%;
        }
       }
       @media (max-width:480px) {
        .catalog ul ul {
            position: absolute;
            width: 150px;
            left: 150px;
        }
        .left-container.catalog {
            width: 150px;
        }
        .field-cntr-2 .menu-logo {
            max-width: 100%;
            display: block;
            margin-left: 0px;
        }
        .catalog ul li {
            margin: 0 0 0px 0;
        }
        // .catalog ul li a {
        //     font-size: 14px;
        //     padding: 12px 15px;
        // }
        .field-cntr-2 h2 {
            padding: 0 10px;
            font-size: 18px;
        }
        ul#maincat ul {
            padding-top: 11.25em;
            margin-left: -1px;

        }
       }

}
	