// .ios, .md {

page-home {

.splash-container {
    text-align: center;
    width: 100%;
    height: auto;
    transform: translate(-50%, -50%);
    position: absolute;
    top: 50%;
    left: 50%;
}
.splash-container img { 
    display: block;
    max-width: 77%;
    margin: 0 auto;
    height: auto;
}


}

